@font-face {
    font-family: "Avenir Next";
    src: local("Avenir Next"),
    url('./fonts/avenir-next-bold.woff2') format('woff2'),
    url('./fonts/avenir-next-bold.woff') format('woff');
}

@font-face {
    font-family: "DIN";
    src: local("DIN"),
    url('./fonts/din.woff2') format('woff2'),
    url('./fonts/din.woff') format('woff');
}


/*
@import url(https://db.onlinewebfonts.com/c/bf69b9412d90c2a017d27cf7fe6f6c67?family=Avenir+Next);
@font-face {font-family: "Avenir Next";
    src: url("https://db.onlinewebfonts.com/t/bf69b9412d90c2a017d27cf7fe6f6c67.eot");
    src: url("https://db.onlinewebfonts.com/t/bf69b9412d90c2a017d27cf7fe6f6c67.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/bf69b9412d90c2a017d27cf7fe6f6c67.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/bf69b9412d90c2a017d27cf7fe6f6c67.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/bf69b9412d90c2a017d27cf7fe6f6c67.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/bf69b9412d90c2a017d27cf7fe6f6c67.svg#Avenir Next") format("svg");
}
*/

/*
@font-face {font-family: "DIN";
    src: url("https://db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.eot");
    src: url("https://db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/e934b630586ca9b7fe66c99ac1592f4a.svg#DIN") format("svg");
}
*/


/*
    Manually Override CSS in components either by
    1. redefining existing classes
    2. adding new classes to brute-force change CSS
*/

/* New Class -- styles MaterialIcon Component */
.bottom-align {
    vertical-align: bottom;
    color: rgba(0, 0, 0, 0.65);
}

/* Restyles Ant Design Date Range Picker */
.ant-calendar-picker-input.ant-input {
    border: none;
    box-shadow: 0 2px 8px rgba(50, 60, 80, 0.15);
    transition: box-shadow 0.3s;
    height: 33px;
    font-family: DIN;
}

.ant-calendar-picker-input.ant-input:hover {
    box-shadow: 0 2px 8px rgba(90, 46, 255, 0.25)
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #5a2eff !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    border-color: #5a2eff !important;
    background-color: #5a2eff !important;
}
